/* Add here all your CSS customizations */
.header .logo{
	margin: 15px 0px 0px 15px;
}

.center-sign .logo{
	margin-top: 35px;
}

.center-sign .logo img {
	height: 25px;
}

.message{
	font-size: 16px;
	text-align: center;
}

#count_files{
	text-align: center;
	margin-top: 18px;
	font-weight: bolder;
	color: yellow;
}