@font-face {
    font-family: 'dinregular';
    src: url('fonts/din-regular-webfont.woff2') format('woff2'),
         url('fonts/din-regular-webfont.woff') format('woff'),
         url('fonts/din-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oxygenregular';
    src: url('fonts/oxygen-regular-webfont.woff2') format('woff2'),
         url('fonts/oxygen-regular-webfont.woff') format('woff'),
         url('fonts/oxygen-regular-webfont.ttf') format('truetype'),
         url('fonts/oxygen-regular-webfont.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinbold';
    src: url('fonts/din-bold-webfont.woff2') format('woff2'),
         url('fonts/din-bold-webfont.woff') format('woff'),
         url('fonts/din-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    font-style: normal;
    font-weight: normal;
    src: local('Panton'), url('fonts/Panton-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Italic'), url('fonts/Panton-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Panton Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Bold'), url('fonts/Panton-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Bold Italic'), url('fonts/Panton-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons A  Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons A  Regular'), url('fonts/PantonIconsA-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons A Fill  Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons A Fill  Regular'), url('fonts/PantonIconsAFill-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons B  Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons B  Regular'), url('fonts/PantonIconsB-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons B Fill  Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons B Fill  Regular'), url('fonts/PantonIconsBFill-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons C  Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons C  Regular'), url('fonts/PantonIconsC-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons C Fill  Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons C Fill  Regular'), url('fonts/PantonIconsCFill-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons D  Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons D  Regular'), url('fonts/PantonIconsD-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons D Fill  Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons D Fill  Regular'), url('fonts/PantonIconsDFill-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton  Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  Thin'), url('fonts/Panton-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Panton  ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  ExtraLight'), url('fonts/Panton-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Panton  Light';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  Light'), url('fonts/Panton-Light.woff') format('woff');
}

@font-face {
    font-family: 'Panton  SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  SemiBold'), url('fonts/Panton-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Panton  ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  ExtraBold'), url('fonts/Panton-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Panton  Black';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  Black'), url('fonts/Panton-Black.woff') format('woff');
}

@font-face {
    font-family: 'Panton  ExtraBlack';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  ExtraBlack'), url('fonts/Panton-ExtraBlack.woff') format('woff');
}

@font-face {
    font-family: 'Panton  Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  Thin Italic'), url('fonts/Panton-ThinItalic.woff') format('woff');
}

@font-face {
    font-family: 'Panton  ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  ExtraLight Italic'), url('fonts/Panton-ExtraLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Panton  Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  Light Italic'), url('fonts/Panton-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Panton  SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  SemiBold Italic'), url('fonts/Panton-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons A  Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons A  Bold'), url('fonts/PantonIconsA-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons A Fill  Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons A Fill  Bold'), url('fonts/PantonIconsAFill-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons B  Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons B  Bold'), url('fonts/PantonIconsB-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons B Fill  Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons B Fill  Bold'), url('fonts/PantonIconsBFill-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons C  Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons C  Bold'), url('fonts/PantonIconsC-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons C Fill  Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons C Fill  Bold'), url('fonts/PantonIconsCFill-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons D  Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons D  Bold'), url('fonts/PantonIconsD-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton Icons D Fill  Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Panton Icons D Fill  Bold'), url('fonts/PantonIconsDFill-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton  ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  ExtraBold Italic'), url('fonts/Panton-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Panton  Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  Black Italic'), url('fonts/Panton-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Panton  ExtraBlack Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Panton  ExtraBlack Italic'), url('fonts/Panton-ExtraBlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('fonts/big_noodle_titling-webfont.woff2') format('woff2'),
         url('fonts/big_noodle_titling-webfont.woff') format('woff'),
         url('fonts/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$backgroundHeaderMobile: #FFF;
$backgroundHeaderDesktop: transparent;
$colorLogo: #f28d0f;
$fontDinBold: "dinbold";
$fontDinRegular: "dinregular";
$fontPantonBold: "Panton Bold";
$fontBigNoodle: "bignoodletitlingregular";
$fontOxygen: "oxygenregular";