@import "variables";
@import "reset";
@import "menu";

body{
	&.show-menu{
		overflow: hidden;
	}
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid $colorLogo;
	background-color: $backgroundHeaderMobile;
	transition: all 0.35s ease-in-out;
	z-index: 2;

	&.show-menu{
		transform: translateX(250px);
	}

	&.hidden-scroll{
		top: -80px;
	}

	a{
		&.mobile{
			display: block;

			> img{
				margin: auto;
				display: block;
				height: 22px;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0
			}
		}

		&.full{
			display: none;
		}
	}
}

footer{
	background-color: #dfdfdf;
	color: #000;
	padding: 20px;
	box-sizing: border-box;

	div{
		text-align: center;
		font-family: $fontOxygen;
		font-size: 16px;

		a{
			font-weight: bold;
			text-decoration: none;
			color: #000;
		}

		&.redes-sociais{
			a{
				display: inline-block;
				text-decoration: none;
				border: none;
				vertical-align: middle;
				margin-right: 2px;
			}
		}

		&.whatsapp{
			margin-top: 25px;
		}

		&.local{
			margin-top: 15px;
		}

		&.copyright{
			margin-top: 40px;
			font-size: 13px;
		}
	}
}

main{
	transition: all 0.35s ease-in;
	position: relative;

	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		opacity: 0;
		background-color: #000;
		left: 0;
		top: 0;
		z-index: 2;
	}

	&.show-menu{
		transform: translateX(250px);

		&:after{
			opacity: 0.8;
			display: block;
		}
	}

	section{
		overflow: hidden;

		h2{
			font-size: 40px;
			font-family: $fontBigNoodle;
			text-align: center;
		}

		&#sliders{
			margin-top: 52px;

			.owl-sliders{
				.owl-nav{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 25px;
					margin: auto;

					button{
						position: absolute;
						opacity: 0.5;

						&:hover{
							opacity: 1;
						}

						i{
							color: #FFF;
							font-size: 25px;
						}
						
						&.owl-prev{
							left: 12px;
						}

						&.owl-next{
							right: 12px;
						}
					}
				}
			}

			.slider-music{
				display: none;
			}
		}

		&#quem-somos{
			padding: 30px 0px;
			box-sizing: border-box;

			div{
				&.wrapper-sliders-eventos{
					position: relative;

					.img-slider-blue{
						position: absolute;
						bottom: 25px;
						right: 15%;
						display: none;
						z-index: 2;
						width: 150px;
					}
				}

				&.wrapper-header{
					div{
						&.image-logo{
							> img{
								width: 80%;
								display: block;
								margin: auto;
								max-width: 461px;
							}
						}

						&.description{
							margin-top: 20px;

							h6{
								color: $colorLogo;
								margin: 0;
								text-align: center;
								font-family: $fontDinRegular;
								margin-bottom: 5px;
								padding: 0px 15px;
							}

							h5{
								color: #000;
								margin: 0;
								text-align: center;
								font-family: $fontDinBold;
								padding: 0px 15px;
							}
						}
					}
				}

				&.owl-sliders-eventos{
					margin-top: 20px;

					.owl-item{
						&.active{
							.item{
								.overlay{
									h2{
										transform: translateY(5%);
									}
								}
							}
						}
					}

					.item{
						position: relative;

						.overlay{
							height: 40px;
							line-height: 40px;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							background-color: rgba(0,0,0,0.5);
							border-top: 2px solid #FFF;

							&:before{
								content: "";
								position: absolute;
								top: 3px;
								left: 0;
								width: 100%;
								background-color: $colorLogo;
								height: 3px;
							}

							h2{
								font-family: $fontPantonBold;
								font-size: 14px;
								color: #FFF;
								text-align: center;
								margin: 0;
								transition: all 0.25s ease-in 0.5s;
								position: relative;
								transform: translateY(100%);
							}
						}
					}

					.owl-nav{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 25px;
						margin: auto;

						button{
							position: absolute;
							opacity: 0.5;

							&:hover{
								opacity: 1;
							}

							i{
								color: #FFF;
								font-size: 25px;
							}
							
							&.owl-prev{
								left: 12px;
							}

							&.owl-next{
								right: 12px;
							}
						}
					}
				}
			}
		}

		&#services{
			padding: 60px 0px;

			.owl-slider-services{
				max-width: 1280px;
				width: 100%;
				margin: auto;
				margin-top: 30px;

				.owl-nav{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 25px;
					margin: auto;

					button{
						position: absolute;
						opacity: 0.5;

						&:hover{
							opacity: 1;
						}

						i{
							color: #29303a;
							font-size: 25px;
						}
						
						&.owl-prev{
							left: 12px;
						}

						&.owl-next{
							right: 12px;
						}
					}
				}

				.item{
					.wrapper-service{
						text-align: center;

						div{
							&.image{
								height: 105px;

								> img {
									height: 100px;
									width: auto;
									margin: auto;
								}
							}

							&.title{
								margin-top: 15px;
								font-family: $fontBigNoodle;
								font-size: 25px;
							}
						}
					}
				}
			}
		}

		&#depoimentos{
			background-color: #f18600;
			padding: 60px 0px;

			.owl-slider-depoimentos{
				width: 100%;
				max-width: 1280px;
				margin: auto;
				margin-top: 40px;

				.owl-nav{
					position: absolute;
					top: 90px;
					left: 0;
					width: 100%;
					height: 25px;
					margin: auto;

					button{
						position: absolute;
						opacity: 0.5;

						&:hover{
							opacity: 1;
						}

						i{
							color: #FFF;
							font-size: 25px;
						}
						
						&.owl-prev{
							left: 12px;
						}

						&.owl-next{
							right: 12px;
						}
					}
				}

				.item{
					margin: auto;
					max-width: 360px;
					width: 90%;

					.who{
						div{
							&.image{
								width: 200px;
								height: 200px;
								overflow: hidden;
								margin: auto;
								position: relative;
								border-radius: 50%;

								&:hover{
									&:before{
										width: 100%;
										height: 100%;
										border: 1px solid transparent;
									}
								}

								&:before{
									position: absolute;
									transition: all 0.25s ease-out;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									width: 90%;
									height: 90%;
									content: "";
									border: 1px solid #FFF;
									margin: auto;
									border-radius: 50%;
								}

								> img{
									margin: auto;
								}
							}

							&.author{
								text-align: center;
								color: #FFF;
								font-family: $fontOxygen;
								margin-top: 10px;

								div{
									&.name{
										font-size: 18px;
									}
	
									&.job{
										font-size: 15px;
										margin-top: 3px;
									}
								}
							}
						}
					}

					.description{
						font-family: $fontOxygen;
						font-size: 15px;
						text-align: justify;
						padding: 20px 0px 0px 0px;
						border-top: 2px solid #000;
						margin-top: 20px;
						height: 192px;
						overflow: auto;
					}
				}
			}
		}

		&#projetos{
			padding: 60px 0px 0px 0px;

			.wrapper-projetos{
				.owl-slider-projetos{
					margin: auto;
					margin-top: 30px;
					width: 100%;
					max-width: 1280px;

					.item{
						width: 90%;
						max-width: 270px;
						margin: auto;
						padding-bottom: 10px;

						a{
							text-decoration: none;
							color: #000;
						}

						div{
							&.image{
								width: 100%;
								height: 180px;
								background-color: #CCC;
								background-position: center center;
								background-size: cover;
								background-repeat: no-repeat;
							}

							&.title{
								font-family: $fontOxygen;
								font-size: 15px;
								font-weight: lighter;
								text-align: center;
								margin-top: 5px;
							}
						}
					}
				}
			}
		}

		&#fale-conosco{
			padding: 60px 0px;

			.wrapper-form{
				width: 90%;
				max-width: 960px;
				margin: auto;
				margin-top: 20px;
				position: relative;

				.callback-send{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(255, 255, 255, 0.6);
					display: none;

					&.show{
						display: block;
					}

					.response-send{
						height: 50px;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						text-align: center;

						p{
							padding: 15px;
						    box-sizing: border-box;
						    font-family: $fontOxygen;
						    font-size: 14px;
						    font-weight: bolder;
						}
					}
				}

				form{
					div.form-group{
						margin-bottom: 10px;
						vertical-align: middle;

						label.error{
							font-family: $fontOxygen;
							font-size: 13px;
							color: #F00;
						}

						&.align-right{
							text-align: right;
						}

						&:last-child{
							margin-bottom: 0px;
						}

						input.form-field{
							outline: none;
							border: none;
							width: 100%;
							height: 40px;
							font-family: $fontOxygen;
							font-size: 16px;
							box-sizing: border-box;
							padding: 0px 10px;
							background-color: #e9e9e9;
						}

						textarea{
							background-color: #e9e9e9;
							height: 200px;
							font-family: $fontOxygen;
							font-size: 16px;
							box-sizing: border-box;
							outline: none;
							width: 100%;
							padding: 10px;
							resize: none;
							border: none;
						}

						input[type="submit"]{
							font-family: $fontOxygen;
							font-size: 16px;
							font-weight: 700;
							background-color: #E9E9E9;
							transition: all 0.5s ease-out;
							padding: 10px 35px;
							border: 1px solid transparent;
							outline: none;
							box-sizing: border-box;

							&:hover{
								background-color: transparent;
								border: 1px solid #E9E9E9;
							}
						}
					}
				}
			}
		}

		&#helton-borges-eventos{
			padding: 40px;
			box-sizing: border-box;

			img {
				display: block;
				margin: auto;
				width: 200px;
			}
		}
	}
}

@media screen and (min-width: 468px){
	main{
		section{
			&#depoimentos{
				.owl-slider-depoimentos{
					.owl-nav{
						top: 80px;
						height: 40px;

						button{
							width: 40px;
							height: 40px;

							> img{
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 568px){
	main{
		section{
			&#sliders{
				position: relative;

				.owl-sliders{
					.owl-nav{
						height: 40px;
						button{
							i{
								font-size: 40px;
							}
						}
					}
				}

				.slider-music{
					display: block;
					position: absolute;
					width: 100%;
					left: 0;
					bottom: 20px;
					z-index: 1;
					text-align: center;

					> img{
						margin: auto;
						width: 250px;
					}
				}
			}

			&#quem-somos{
				div{
					&.owl-sliders-eventos{
						.item{
							.overlay{
								height: 70px;
								line-height: 70px;

								h2{
									font-size: 20px;
								}
							}
						}

						.owl-nav{
							height: 40px;
							button{
								i{
									font-size: 40px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px){
	main{
		section{
			&#quem-somos{

				div{
					&.wrapper-sliders-eventos{
						.img-slider-blue{
							display: block;
						}
					}

					&.owl-sliders-eventos{
						.owl-item{
							&.active{
								.item{
									.overlay{
										opacity: 1;

										h2{
											transform: translateX(0%) translateY(0%);
										}
									}
								}
							}
						}
						.item{
							.overlay{
								transform-origin: top left;
								transform: rotateZ(-10deg);
								bottom: -200px;
							    height: 200px;
								left: -10px;
								opacity: 0;

							    h2{
							    	transform: translateX(-100%) translateY(0%);
							    	display: block;
									position: relative;
									top: -56px;
						    	    font-size: 60px;
									margin-left: 180px;
									transition: all 0.9s ease-out;
							    }
							}
						}
					}
				}
			}

			&#fale-conosco{
				.wrapper-form{
					form{
						font-size: 0;

						div{
							&.form-group{
								&.form-inline-data{
									width: 30%;
									margin-right: 2%;
									display: inline-block;
									vertical-align: top;
								}

								&.form-inline-local{
									width: 68%;
									display: inline-block;
									vertical-align: top;
								}

								&.form-inline-email{
									width: 70%;
									margin-right: 2%;
									display: inline-block;
									vertical-align: top;
								}

								&.form-inline-telefone{
									width: 28%;
									display: inline-block;
									vertical-align: top;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px){
	main{
		section{
			&#sliders{
				.slider-music{
					> img{
						width: 220px;
					}
				}
			}

			&#quem-somos{
				div{
					&.wrapper-sliders-eventos{
						.img-slider-blue{
							width: 220px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1280px){
	header{
		z-index: 3;
		height: auto;
		border-bottom: 0px;
		background-color: transparent;

		&.show-menu{
			transform: none;
		}

		&.hidden-scroll{
			top: -250px;
		}

		a{
			&.mobile{
				display: none;
			}

			&.full{
				display: block;
				width: 369px;
				height: 243px;
				margin: auto;
				background: url(../img/base-logo.png) no-repeat top center;
				text-align: center;

				> img{
					margin-top: 22px;
				}
			}
		}
	}

	main{
		&.show-menu{
			transform: none;
		}

		section{
			&#sliders{
				margin-top: 0px;

				.slider-music{
					bottom: 30px;

					> img{
						width: 340px;
					}
				}
			}

			&#services{
				.owl-slider-services{
					max-width: 1380px;

					.item{
						.wrapper-service{
							div{
								&.image{
									height: 158px;

									> img{
										height: auto;
										width: auto;
									}
								}

								&.title{
									font-size: 28px;
								}
							}
						}
					}
				}
			}

			&#projetos{
				.wrapper-projetos{
					.owl-slider-projetos{
						.item{
							max-width: 350px;

							div{
								&.image{
									height: 200px;
								}
							}
						}
					}
				}
			}

			&#quem-somos{
				div{
					&.wrapper-sliders-eventos{
						.img-slider-blue{
							width: 280px;
						}
					}
				}
			}

			&#helton-borges-eventos{
				img{
					width: 300px;
				}
			}
		}
	}
}

@media screen and (min-width: 1680px){
	footer{
		padding: 30px 0px;
		div{
			font-size: 25px;
		}
	}

	main{
		section{
			h2{
				font-size: 81.77px;
			}

			&#sliders{
				.slider-music{
					bottom: 50px;

					> img{
						width: auto;
					}
				}
			}

			&#quem-somos{
				div{
					&.wrapper-sliders-eventos{
						.img-slider-blue{
							width: auto;
						}
					}

					&.owl-sliders-eventos{
						.item{
							.overlay{
							    h2{
									font-size: 96px;
									top: -70px;
							    }
							}
						}
					}
				}
			}

			&#projetos{
				.wrapper-projetos{
					.owl-slider-projetos{
						.item{
							max-width: 398px;
							width: 100%;

							div{
								&.image{
									height: 228px;
								}
							}
						}
					}
				}
			}

			&#depoimentos{
				.owl-slider-depoimentos{
					.owl-nav{
						height: 100px;
						top: 88px;

						button{
							height: 100px;
							width: 100px;

							&.owl-prev{
								left: -70px;
							}

							&.owl-next{
								right: -70px;
							}
						}
					}

					.item{
						width: 100%;

						.who{
							div{
								&.image{
									width: 280px;
									height: 280px;
								}
							}
						}
					}
				}
			}

			&#helton-borges-eventos{
				img{
					width: auto;
				}
			}
		}
	}
}

.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner > div {
	background-color: #f18600;
	height: 100%;
	width: 6px;
	display: inline-block;
	margin: 0 3px 0 0;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.fancybox-caption__body{
	h4{
		font-weight: 700;
		font-family: $fontOxygen;
	}

	h6{
		font-weight: 400;
		font-family: $fontOxygen;
	}
}