button#open-menu{
	background-color: transparent;
	width: 35px;
	height: 35px;
	position: fixed;
	left: 5px;
	top: 7px;
	border: none;
	padding: 0;
	z-index: 2;
	transition: all 0.35s ease-in-out;

	&.hidden-scroll{
		top: -80px;
	}

	&.show-menu{
		transform: translateX(250px);

		span{
			transition: all 0.25s ease-in-out 0.5s;

			&:nth-child(2){
				right: 6px;
			}

			&:nth-child(3){
				right: 12px;
			}
		}
	}

	span{
		position: absolute;
		width: 70%;
		height: 4px;
		background-color: $colorLogo;
		right: 0;
		margin: auto;

		&:first-child{
			top: 9px;
			width: 80%;
		}

		&:nth-child(2){
			top: 16px;
			width: 63%;
		}

		&:nth-child(3){
			top: 23px;
			width: 47%;
		}

		&:last-child{
			display: none;
		}
	}
}

nav{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	transform: translateX(-100%);
	background: $colorLogo;
	background: -moz-linear-gradient(top, $colorLogo 0%, $colorLogo 100%);
	background: -webkit-linear-gradient(top, $colorLogo 0%,$colorLogo 100%);
	background: linear-gradient(to bottom, $colorLogo 0%,$colorLogo 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorLogo', endColorstr='$colorLogo',GradientType=0 );
	width: 250px;
	z-index: 2;
	transition: all 0.35s ease-in-out;

	&.show-menu{
		transform: translateX(0%);
	}

	ul{
		li{
			height: 45px;
			line-height: 45px;
			border-bottom: 1px solid #ffa02a;
			border-top: 1px solid #d67803;
			transition: all 0.25s ease-in;

			&:hover:not(:last-child){
				box-shadow: #fee27b 0px -20px 60px -34px inset;
				a{
					color: #fee27b;
				}
			}

			&:first-child{
				border-top: none;
			}
			
			&:last-child{
				border-bottom: none;
			}

			a{
				display: block;
				outline: none;
				padding: 0px 20px;
				text-decoration: none;
				color: #FFF;
				transition: all 0.25s ease-in;
				font-family: $fontDinRegular;
			}
		}
	}
}

@media screen and (min-width: 1280px){
	button#open-menu{
		z-index: 2;
		background-color: $colorLogo;
		border-radius: 50%;
		width: 55px;
		height: 55px;
		left: 25px;
		top: 25px;
		z-index: 3;

		&.show-menu{
			transform: none;

			span{
				&:nth-child(2){
					right: 0;
				}

				&:nth-child(3){
					right: 0;
				}
			}
		}

		&:hover{
			background-color: #FFF;

			span{
				background-color: $colorLogo;
			}
		}

		span{
			height: 2px;
			left: 0;
			background-color: #FFF;

			&:first-child{
				top: 15px;
				width: 55%;
			}

			&:nth-child(2){
				top: 23px;
				width: 70%;
			}

			&:nth-child(3){
				top: 31px;
				width: 70%;
			}

			&:last-child{
				display: block;
				top: 39px;
				width: 55%;
			}
		}
	}

	nav{
		transform: translateX(0%);
		background: transparent;
		top: 150px;
		left: 64px;
		height: auto;
		visibility: hidden;
		opacity: 0;
		z-index: 3;

		&.show-menu{
			visibility: visible;
			opacity: 1;
			top: 92px;
			transform: none;
		}

		ul{
			li{
				border-top: 0;
				border-bottom: 0;

				&:hover:not(:last-child){
					box-shadow: none;
				}
			}
		}
	}
}